{% extends "base.html" %}

{% block content %}
    <div>
    <h1 align="center">
            Выдержка из правительственной телеграммы 13-5/10/ В-2863 от 21.04.2022
    </h1>
        <p class="font-monospace">
            В ЦЕЛЯХ СОХРАНЕНИЯ ИСТОРИЧЕСКОЙ ПАМЯТИ НАРОДОВ, ПРОЖИВАЮЩИХ
            НА ТЕРРИТОРИИ НАШЕЙ СТРАНЫ, ДЛЯ ОПИСАНИЯ И СИСТЕМАТИЗАЦИИ
            ЗНАНИЙ О ВЕЛИКОМ КУЛЬТУРНОМ НАСЛЕДИИ, КОТОРОЕ ОСТАВЛЕНО НАМ
            НАШИМИ ПРЕДКАМИ, ДЛЯ РАЗРАБОТКИ АВТОМАТИЗИРОВАННЫХ СПОСОБОВ
            ОБРАБОТКИ БОЛЬШИХ МАССИВОВ ЦЕННОЙ ОБЩЕКУЛЬТУРНОЙ ИНФОРМАЦИИ
            ОБЪЯВЛЯЕТСЯ О СОЗДАНИИ 21 АПРЕЛЯ 2022 ГОДА ГОСУДАРСТВЕННОГО
            ПРОЕКТНОГО ОФИСА ‘МИССИЯ: КУЛЬТУРНОЕ НАСЛЕДИЕ’.
            СОТРУДНИКИ ЭТОГО ПОДРАЗДЕЛЕНИЯ — IT-РАЗРАБОТЧИКИ, КОТОРЫЕ
            ДОЛЖНЫ БУДУТ ОРГАНИЗОВАТЬ ПРОЦЕСС ЦИФРОВИЗАЦИИ СВЕДЕНИЙ О
            ПАМЯТНИКАХ ИСТОРИИ И КУЛЬТУРЫ, А ТАКЖЕ УПОРЯДОЧИТЬ И ПОДГОТОВИТЬ
            МАССИВ ИНФОРМАЦИИ ДЛЯ ПЕРЕДАЧИ «КАПСУЛЫ ИСТОРИИ И КУЛЬТУРЫ
            НАРОДОВ РОССИИ» НА БОРТ МЕЖПЛАНЕТНОЙ КОСМИЧЕСКОЙ ЭКСПЕДИЦИИ.
            ОТКРЫТИЕ ОТДЕЛА ПРИУРОЧЕНО КО ВСЕРОССИЙСКОМУ ДНЮ ЗАБОТЫ О
            ПАМЯТНИКАХ ИСТОРИИ И КУЛЬТУРЫ, КОТОРЫЙ ЕЖЕГОДНО ОТМЕЧАЕТСЯ 18
            АПРЕЛЯ И ПРИЗЫВАЕТ ВСЕХ НЕРАВНОДУШНЫХ ОБРАТИТЬ ВНИМАНИЕ НА
            НЕОБХОДИМОСТЬ СОХРАНЕНИЕ КУЛЬТУРЫ НАШЕЙ СТРАНЫ.
        </p>
    </div>
{% endblock %}