{% extends "base.html" %}

{% block content %}
    <div class="main">
    <div align="right">
        {% if current_user.is_admin %}
            <a class="btn btn-primary" href="/edit_obj/{{ obj.id }}">Изменить объект</a>
            <a class="btn btn-danger" href="/del_obj/{{ obj.id }}">Удалить объект</a>
        {% endif %}
    </div>
        <h1>{{ obj.name }} ({{ obj.category }}, {{ obj.kind }})</h1>
        <h2>{{ obj.about }}</h2>
        <p>Номер в реестре - {{ obj.reester_number }}</p>
        <p>Регион - {{ obj.region}}</p>
        <p>Адрес - {{ obj.full_address }}</p>
        {% if obj.unesco %}
        <p>Объект находиться под охраной Юнеско</p>
        {% endif %}
        {% if obj.is_value %}
        <p>Особо ценный объект</p>
        {% endif %}
        {% if obj.photo %}
            <img src="{{ url_for('static', filename='photo/object.png') }}" alt="здесь должна была быть картинка,
                     но не нашлась">
        {% endif %}
        <br>
        {% if obj.coords %}
            <img src="{{ url_for('static', filename='photo/map.png') }}">
        {% endif %}
        {% if current_user.is_authenticated %}
        <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.text.label }}<br>
            {{ form.text(class="form-control") }}<br>
            {% for error in form.text.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <p hidden>{{ form.obj_id(value=obj.id) }}</p>
        </form>
    {% endif %}
        <br>
        {% for com in comments %}
        <div class="shadow p-3 mb-5 bg-body rounded">
                <p>
                    User{{ com.creater_id }}: {{ com.text }}
                </p>
                {% if current_user.id == com.creater_id%}
                <div align="right">
                    <a class="btn btn-danger" href="/del_com/{{ com.id }}" role="button">Удалить комментарий</a>
                </div>
                {% endif %}
        </div>
        <br>
        {% endfor %}
    </div>
{% endblock %}