{% extends "base.html" %}

{% block content %}
<div class="main">
    <h3 align="right"><a href="/search">Очистить фильтр</a></h3>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p>
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.reester_number.label }}<br>
        {{ form.reester_number(class="form-control") }}<br>
        {% for error in form.reester_number.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.region.label }}<br>
        {{ form.region(class="form-control") }}<br>
        {% for error in form.region.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {% for subfield in form.category %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
    </p>
    <br>
    <p>
        {% for subfield in form.kind %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
    </p>
    <br>
    <p>{{ form.unesco() }} {{ form.unesco.label }}</p>
    <p>{{ form.is_value() }} {{ form.is_value.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <br>
    <p>{{ message }}</p>
</form>
</div>
{% endblock %}
